{
	"extends": ["eslint:recommended"],
	"parser": "babel-eslint",
	"plugins": [
    "flowtype",
    "jest"
  ],
	"env": {
		"browser": true,
		"es6": true,
		"jest": true
	},
	"globals": {
		"Promise": true
	},
	"rules": {
		"strict": 0,
		"indent": ["warn", "tab", { "SwitchCase": 1 }],
		"no-console": ["warn", {"allow": ["warn", "error", "info", "debug"] }],
		"camelcase": "error",
		"prefer-const": "error",
		"no-var": "error",
		"new-cap": "error",
		"semi": ["error", "always"],
		"eol-last": "error",
		"no-multiple-empty-lines": ["error", { "max": 2, "maxEOF": 1, "maxBOF": 0 }],
		"no-trailing-spaces": "error"
	}
}
