body {
 	font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
 	margin: 0;
 	padding: 0 0;
}

h1 {
	margin-bottom: 0;
}

h3 {
	margin-top: 4px;
	margin-bottom: 20px;
	opacity: 0.5;
	font-size: 0.75rem;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
}

@media (min-width: 640px) {
	.mobile-margins {
		padding: 20px;
	}
}
