body {
 	font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
 	margin: 0;
 	padding: 0 20px;
}

h1 {
	margin-bottom: 0;
}

h3 {
	margin-top: 4px;
	opacity: 0.5;
}