.todo-checkbox {
	margin-left: 16px;
	width: 40px;
}

.todo-container {
	display: flex;
	flex-direction: column;
}

.todo-icon {
	margin-right: 6px;
}

.todo-input {
	flex: 1;
}

.todo-row {
	align-items: center;
	display: flex;
	flex-direction: row;
}
