name: build

on:
  workflow_dispatch: {}
  push:
    branches: [master]
    paths-ignore:
      - examples/**
  pull_request:
    branches: [master]
    paths-ignore:
      - examples/**

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      # Yarn install
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - uses: actions/cache@v1
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - run: yarn install --ignore-scripts --frozen-lockfile
      # Run verifications
      - run: yarn test
      - run: yarn lint --max-warnings 0
      - run: yarn build
      - run: yarn docs:build
